body{
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  background-image: url(../images/seconda-pagina-1920-1080.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  border: 3px solid black;
    padding: 50px;
    background-color: bisque;
}

h1 {

  font-family: "Hurricane",cursive;  
    font-size: 60px;
}

section.error {

  color: red;

}

.hidden
{
  display: none;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


.collegamenti
{
  background-color: red;
}
